* {
    margin: 0;
}

body {
    background-color: rgba(255, 236, 210, 0.386);
}

.all,
.box2a {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.box2a p {
    margin: 0px 15px;
}

.box1a img {
    width: 300px;
    height: 50px;
}

.all button {
    display: flex;
    width: 15%;
    padding: 0px 15px;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: #5EB083;


}

button img {
    width: 15%;
    height: 50%;
    margin: 0px 4px;
    padding: 0px;
}

.chap1 {
    margin-top: 70px;
    margin-left: 90px;
}

.sp1 {
    color: #5EB083;
}

.chap1 h1 {
    font-size: 50px;
}

.chap1 p {
    margin: 10px 0px;
}

.chap1b button,
.chap1b {
    display: flex;

}

.tel {
    display: none;
}

.chap1b button {
    display: flex;
    width: 15%;
    padding: 0px 15px;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: #FFBB8A;
    margin-right: 20px
}

.pa3 {
    color: #8a8a8a;
}

.rost1 img {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 600px;
}

.du2 img {
    width: 100px;
    margin: 0px 10px;
    margin-top: 120px;

    box-shadow: 0px 0px 20px rgba(190, 190, 190, 0.422);
}

.s11 {
    padding-left: 60px;
}

.du21 {
    display: none;
}

.table {
    margin: 40px 60px;
}

.table h1 {
    margin: 20px 0px;
    font-size: 40px;
}

.table p {
    margin: 5px 0px;
}

.ce,
.paq2 {
    display: flex;
}

.chapce {
    width: 40%;
    margin-left: 60px;
    margin-top: 50px;
}

.chapce h1 {
    margin: 10px;
}

.ce1 {
    margin-top: 20px;
    margin-left: 60px;
}

.chapce p {
    margin: 10px 0px;
}


.rostce img {
    width: 350px;
}

.c {
    margin-left: 150px;
}

.chor {
    text-align: center;
    margin-top: 50px;
}

.chor4 {

    margin-left: 10%;
}

.pos1 {
    position: absolute;
    right: 165px;
    height: 200px;
}

.table1 {
    margin: 20px 70px;
    margin-top: 50px;
}

.table1 p {
    margin: 10px 0px;
}

.paq2 {
    margin-left: 150px;
}

.paq2 p {
    margin: 0px 51px;
}


.chor4 img {
    width: 15%;
    margin: 10px;
}

.chort {
    display: none;
}

.panj5 {
    display: flex;
    width: 90%;
    gap: 20px;
    margin-left: 60px;
}

.chapp5 {
    width: 100%;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    border: 1px solid rgb(103, 103, 103);
}

.chapp5s {
    display: flex;
    align-items: center;
}

.chapp5s img {
    width: 10%;
    height: 10%;
    margin: 10px;
}

.chapp5 button {
    padding: 13px 40px;
    border-radius: 20px;
    border: none;
    background-color: #5EB083;
    color: aliceblue;
}


.table2 button {
    padding: 10px 20px;
    margin: 20px 5px;
    border-radius: 20px;
    border: none;

}

.sha6 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 550px;
    width: 80%;
    margin-top: 20px;
    margin-left: 70px;
}


.chapsh6 {
    padding: 30px;
    grid-area: 1 / 1 /2 / 2;
    background-color: rgba(30, 25, 36, 0.96);
}

.chapsh6 {
    text-align: center;
}

.shs62 {
    margin-top: 20px;
}

.ce6 {
    margin-top: 80px;
}

.rostsh6 {
    padding: 40px;
}

.rh61,
.rh61 button {
    display: flex;
    align-items: center;
}

.rh61 button {
    background-color: rgb(35, 31, 31);
    color: aliceblue;
    padding: 4px 10px;
    border-radius: 20px;
    border: none;
    margin-left: 18%;
}

button img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.pp6 {
    margin-top: 20px;
    font-size: 25px;
}

.rh62 {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.box62 p,
.box62 h3 {
    margin: 15px 0px;
}

.box62 {
    border-radius: 20px;
    padding: 20px;
    border: none;
}

.box63 {
    background-color: #E5EDFA;

}

.box63 button {
    background-color: #5EB083;
}

.box64 {
    background-color: #FFEDDF;

}

.box64 button,
.box65 button {
    background-color: #000000;
    color: #E5EDFA;

}

.box65 {
    background-color: #EDFFF5;

}

.box62 button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 40px;
}

.telsp {
    display: none;
}

.haft {
    margin-top: 30px;
    text-align: center;
}

.haft h1 {
    font-size: 40px;
}

.haft p {
    margin: 15px 0px;
}

.haft button {
    display: flex;
    margin-left: 43%;
    align-items: center;
    padding: 0px 20px;
    border: none;
    border-radius: 20px;
    background-color: #f89a4da1;
    color: #ffffff;
}

.haft7 {
    margin: 20px 70px;
}

.haft7 h1 {
    font-size: 40px;
    margin: 20px;

}

.haft7 h2 {
    text-align: center;
}

.boxh7 {
    display: flex;
    padding: 40px;
    background-color: #ffd68424;
}

.boxh71 {
    padding: 40px;
    margin-right: 30px;
    background-color: #ffffffc6;
    border-radius: 20px;
}

.boxh71 button {
    padding: 10px;
    margin: 1px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.haft7 {
    width: 80%;
}

.box2h71 {
    margin-right: 10%;
    margin-top: 50px;
}




.boxh8 {
    display: flex;
    width: 60%;
    border-radius: 20px;
    margin: 10px 0px;
    padding: 10px;
    justify-content: space-between;
    background-color: #c7c7c779;

}

.hasht8 {
    margin: 30px 10px;
    margin-left: 20%;
}

.boxh10 {
    width: 100%;
}

.boxh8 {
    width: 70%;
}

.boxh9 {
    display: block;

}

.boxh8 img {
    height: 10px;
    margin-top: 4px;
}

.sabz {
    color: #00b451;
}


@media(max-width : 500px) {
    body {
        background-color: #f88d36;
        overflow-x: hidden;
    }

    .all,
    .du2 {
        display: none;
    }


    .tel {
        display: flex;
        width: 90%;
        padding: 20px;
        justify-content: space-between;

    }

    .tel button {
        display: flex;
        width: 55%;
        padding: 0px 15px;
        align-items: center;
        border-radius: 30px;
        border: none;
        background-color: #5EB083;
    }

    .s1 {
        height: 25px;
        margin-top: 10px;
    }

    .rost1 img {
        width: 100%;
        height: 500px;
    }

    .chap1 {
        padding: 10px;
        margin: 10px;
        margin-top: 373px;
    }

    .chap1b {
        display: block;
        text-align: center;
        justify-content: center;
    }

    .chap1b button {
        width: 50%;
        margin-left: 50%;
        padding-left: 10px;
        margin: 30px 0px;
        background-color: #8a8a8a00;
        color: aliceblue;
        border: 1px solid rgb(255, 255, 255);
    }

    .s2 {
        width: 20px;
    }

    .b1 {
        justify-content: center;
    }

    .du21 {
        display: block;

    }

    .du21 img {
        width: 27%;
        margin: 10px;
    }

    .q1 {
        position: absolute;
        top: 105.5%;
        left: 70%;
    }

    .chapce {
        width: 100%;
        margin-left: 10px;
        margin-top: 50px;
    }

    .ce {
        display: block;
        width: 90%;
        flex-direction: column;
    }

    .ce1 {
        margin: 0px;
        padding: 0px;
    }

    .rostce {
        width: 90%;
        padding: 10px;
        margin: 10px;
    }

    .tel3 img {
        margin: 0px;
        padding: 0px;
        margin-bottom: 90px;
    }

    .tel4 {
        margin: 0px;
        margin-bottom: 300px;
    }

    .tel5 {
        position: absolute;
        top: 248%;
        left: 0px;
    }

    .c {
        text-align: center;
        margin-left: 10px;
    }

    .tel2 {
        position: absolute;
        top: 175%;
        left: 10px;
    }

    .chor4,
    .paq2 {
        display: none;
    }

    .chort {
        display: block;
        text-align: center;
        width: 95%;

    }

    .chort img {
        width: 95%;
        margin: 20px;

    }

    .panj5 {
        display: block;
        margin-left: 0px;
    }

    .chapp5 {
        margin: 20px;
        width: 90%;

    }

    .table1 {
        margin: 20px;
    }

    .haq11 {
        margin: 10px 0px;
    }

    .chapp5 button {
        width: 80%;
    }

    .chapp5 button {
        border: none;
        margin-left: 10%;
    }

    .table2 button {
        margin: 10px;
        width: 40%;

    }

    .sha6 {
        display: none;
    }

    .telsp {
        display: flex;
        justify-content: center;
    }

    .boxh71 {
        text-align: center;
        width: 80%;

    }

    .box2h71 {
        width: 100%;

    }

    .telsp img {
        width: 90%;
    }

    .boxh7 {
        display: block;
    }

    .haft7 {
        margin: 0px;
        padding: 0px;
    }

    .haft button {
        display: flex;
        margin-left: 27%;
    }

    .boxh7 {
        display: block;
        padding: 20px;
        background-color: #ffd68424;
    }

    .boxh71 button {
        width: 100%;

    }

    .haft7 {
        width: 95%;
    }

    .hasht8 h1 {
        text-align: center;
    }

    .hasht8 {
        margin: 30px 10px;
        margin-left: 1%;
    }

    .boxh8 {
        width: 95%;
        background-color: #ffffff;
    }





}