* {
    margin: 0;
}

body {
    background-color: rgba(251, 227, 196, 0.386);
}

.all,
.box2a {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.box2a p {
    margin: 0px 15px;
}

.box1a img {
    width: 300px;
    height: 50px;
}

.all button {
    display: flex;
    width: 15%;
    padding: 0px 15px;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: #5EB083;


}

button img {
    width: 15%;
    height: 50%;
    margin: 0px 4px;
    padding: 0px;
}

.chap1 {
    margin-top: 70px;
    margin-left: 90px;
}

.sp1 {
    color: #5EB083;
}

.chap1 h1 {
    font-size: 50px;
}

.chap1 p {
    margin: 10px 0px;
}

.chap1b button,
.chap1b {
    display: flex;

}

.tel {
    display: none;
}

.chap1b button {
    display: flex;
    width: 15%;
    padding: 0px 15px;
    align-items: center;
    border-radius: 30px;
    border: none;
    background-color: #FFBB8A;
    margin-right: 20px
}

.pa3 {
    color: #8a8a8a;
}

.rost1 img {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 600px;
}

.du2 img {
    width: 100px;
    margin: 0px 10px;
    margin-top: 120px;

    box-shadow: 0px 0px 20px rgba(190, 190, 190, 0.422);
}

.s11 {
    padding-left: 60px;
}

.du21 {
    display: none;
}

.table {
    margin: 40px 60px;
}

.table h1 {
    margin: 20px 0px;
    font-size: 40px;
}

.table p {
    margin: 5px 0px;
}

.ce,.paq2 {
    display: flex;
}

.chapce {
    width: 40%;
    margin-left: 60px;
    margin-top: 50px;
}

.chapce h1 {
    margin: 10px;
}

.ce1 {
    margin-top: 20px;
    margin-left: 60px;
}

.chapce p {
    margin: 10px 0px;
}


.rostce img {
    width: 350px;
}

.c {
    margin-left: 150px;
}

.chor {
    text-align: center;
    margin-top: 50px;
}

.chor4 {

    margin-left: 10%;
}

.pos1 {
    position: absolute;
    right: 165px;
    height: 200px;
}
.paq2{
    margin-left: 150px;
}
.paq2 p{
    margin: 0px 51px;
}


.chor4 img {
    width: 15%;
    margin: 10px;
}

.chort {
    display: none;
}

@media(max-width : 500px) {
    body {
        background-color: #f88d36;
    }

    .all,
    .du2 {
        display: none;
    }


    .tel {
        display: flex;
        width: 90%;
        padding: 20px;
        justify-content: space-between;

    }

    .tel button {
        display: flex;
        width: 55%;
        padding: 0px 15px;
        align-items: center;
        border-radius: 30px;
        border: none;
        background-color: #5EB083;
    }

    .s1 {
        height: 25px;
        margin-top: 10px;
    }

    .rost1 img {
        width: 100%;
        height: 500px;
    }

    .chap1 {
        padding: 10px;
        margin: 10px;
        margin-top: 373px;
    }

    .chap1b {
        display: block;
        text-align: center;
        justify-content: center;
    }

    .chap1b button {
        width: 50%;
        margin-left: 50%;
        padding-left: 10px;
        margin: 30px 0px;
        background-color: #8a8a8a00;
        color: aliceblue;
        border: 1px solid rgb(255, 255, 255);
    }

    .s2 {
        width: 20px;
    }

    .b1 {
        justify-content: center;
    }

    .du21 {
        display: block;

    }

    .du21 img {
        width: 27%;
        margin: 10px;
    }

    .q1 {
        position: absolute;
        top: 105.5%;
        left: 70%;
    }

    .chapce {
        width: 100%;
        margin-left: 10px;
        margin-top: 50px;
    }

    .ce {
        display: block;
        width: 90%;
        flex-direction: column;
    }

    .ce1 {
        margin: 0px;
        padding: 0px;
    }

    .rostce {
        width: 90%;
        padding: 10px;
        margin: 10px;
    }

    .tel3 img {
        margin: 0px;
        padding: 0px;
        margin-bottom: 90px;
    }

    .tel4 {
        margin: 0px;
        margin-bottom: 300px;
    }

    .tel5 {
        position: absolute;
        top: 248%;
        left: 0px;
    }

    .c {
        text-align: center;
        margin-left: 10px;
    }

    .tel2 {
        position: absolute;
        top: 175%;
        left: 10px;
    }

    .chor4,
    .paq2 {
        display: none;
    }

    .chort {
        display: block;
        text-align: center;
        width: 95%;

    }

    .chort img {
        width: 95%;
        margin: 20px;

    }




}